html, body {
  margin: 0; padding: 0;
  height: 100%; width: 100%;
}
h1 {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  color: #1B7ABC;
}
table#customer-list {
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto;
}
table tr th {
  color: #fff;
  background: #1B7ABC;
}
table tr td, table tr th {
  border: 1px solid #333;
  padding: 5px 10px;
}

p.page-status, p.pagination {
  width: 100%;
  text-align: center;
}
p.pagination a, p.pagination a:visited {
  text-decoration: none;
  color: #333;
}
p.pagination strong {
  color: #1B7ABC;
}
